@import url('https://fonts.googleapis.com/css?family=Gruppo&display=swap');
@import url('https://fonts.googleapis.com/css?family=Averia+Libre&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
.flex-footer{
  display: flex;
  justify-content: space-around;
}
h1{
  color: black;
  font-family: 'Yatra One', cursive;
}
.jumbotron{
  border-radius: 0;
  background-color: #ff5101d8;
}
.card-footer{
  background-color: rgb(143, 247, 8);
  color: black;
}
.repo-number{
  font-size: 25px;
  font-weight: lighter;
  font-family: 'Gruppo', cursive;
}
#num{
  color: rgb(0, 0, 0);
  font-weight:bold;
  font-size:33px ;
}
#rname{
  font-family: 'Averia Libre', cursive;
  color: rgb(4, 0, 253);
  font-size: 30px;
}

#rwatchers{
  font-size: 17px;
  margin: 5px;
  font-family: 'Roboto Mono', system-ui, serif;
  font-weight: bold;
}
.data{
  font-family: 'Roboto Mono', system-ui, serif;
  font-weight: lighter;
  color: darkblue;
}