<!-- <div>
    <h1>GIT<span>HUB</span></h1>
    <nav>
        <ul>
            <li routerLink="user-list" ><a href="#" >Search Usernames</a></li>
            <li routerLink="repo-list" ><a href="#" >Search Repositories</a></li>
        </ul>
    </nav>
</div> -->

<!-- <nav class="navbar navbar-expand-lg navbar-dark">
    <a class="navbar-brand logotext" routerLink="user-list" appLogoHighlight>{{logo}}</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto nav-links">
        <li class="nav-link" routerLink="user-list">Search Users</li>
        <li class="nav-link" routerLink="repo-list">Search Repos</li>
      </ul>
    </div>
  </nav> -->

<div class="body" >
  <nav>
    <input type="checkbox" id="check">
    <label for="check" class="checkbtn">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
    </label>
    <label class="logo">GIT-APP</label>
    <ul>
      <li class="nav-link" routerLink="user-list" >Search Users</li>
      <li class="nav-link" routerLink="repo-list" >Search Repositories</li>
    </ul>
  </nav>
</div>