<div>
    <h1>GIT<span>HUB</span></h1>
    <nav>
        <ul>
          <li class="nav-link" routerLink="user-list"><a>Search Users</a></li>
          <li class="nav-link" routerLink="repo-list"><a>Search Repositories</a></li>
        </ul>
    </nav>
</div>



<!-- <div class="body">
  <nav>
    <input type="checkbox" id="check" />
    <label for="check" class="checkbtn">
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target="#navbarSupportedContent"
        aria-controls="navbarSupportedContent"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
    </label>
    <label class="logo">GIT-APP</label>
    <ul>
      <li class="nav-link" routerLink="user-list"><a>Search Users</a></li>
      <li class="nav-link" routerLink="repo-list"><a>Search Repositories</a></li>
    </ul>
  </nav>
</div> -->
