@import url('https://fonts.googleapis.com/css2?family=Yatra+One&display=swap');
.jumbotron{
    background-size: cover;
    background-repeat: no-repeat;
  }
  h2{
    color: black;
    font-family:'Yatra One', cursive;
  }
  .jumbotron{
    border-radius: 0;
  }
  .contents{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
  }
  .card-img{
    height: 300px;
    width: 300px;
  }
  .img-icon{
    background-image:url(../../assets/icon.png);
  }
  
  @media (max-width: 740px) {
  
    hr {
      height: 0;
      width: 0;
    }
  
  }
  .overlay{
    background-color: rgba(255, 179, 236, 0.938);
    height: 300px;
  }
  .user{
    font-size: 30px;
    color: black;
  }
  .gsearch{
    font-size: 60px;
    color: rgb(12, 12, 12);
    margin-top: 20px;
    margin-bottom: 40px;
    font-family:'Yatra One', cursive;
  }
  .footer-text{
    font-family: system-ui, serif;
    padding-top: 20px;
    padding-bottom:-40px;
    color: white;
  }
  #fa-love{
    color: red;
    opacity: 0.7;
  }
  .fa{
    color: red;
  }
  